*.xcodeproj/
build/
DerivedData/
Payload/
*.ipa
*.log
.DS_Store
android/local.properties
android/build/
android/app/build/
android/.gradle/
android/app/google-services.json
android/keystore.properties
android/mapbox.properties
